package com.leoman.user.dao;

import com.leoman.user.entity.User;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

public interface ${entity.name}Dao extends JpaRepository<${entity.name}, Long>,JpaSpecificationExecutor<${entity.name}> {
}
